/* GOOGLE FONT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');


/* CSS STYLESHEET FOR INDEX.HTML */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'DM Sans', sans-serif;

}

body {
	background-color: #34568B;
}

#cv-wrapper {
	width: 60%;
	margin: 0 auto;
	padding: 30px;
}

header {
	display: flex;
	border-bottom: 1px solid black;
	background-color: #35a79c;
	color: white;

}

.cv-section-one {
	width: 50%;
	padding: 25px;
	
}

.cv-section-one > h1 {
	font-size: 45px;
	
}

.cv-section-one > h3 {
	
}

.cv-section-two {
	width: 50%;
	background-color: #35a79c;
	
}

#icon-wrap {
	width: 60%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	text-align: left;
}

#icon-wrap > span {
	padding: 1px;

}

.fa-home, .fa-globe, .fa-envelope, .fa-linkedin {
	padding: 8px;
	font-size: 22px;
}

.page-breaker {
	width: 100%;
	text-align: center;
}

.fa-angle-down {
	padding: 8px;
	font-size: 30px;
	
}

.cv-section-three {
	border-bottom: 1px solid black;
	background-color: #f1f3f4;
	padding: 25px;
}

.cv-section-three > p {
	margin-bottom: 50px;
}

#work-wrapper {
	display: flex;
	margin-bottom: 50px;

}

#work-wrapper > section {
	width: 50%;
	padding: 5px;

}

.cv-section-four {
	border-bottom: 1px solid black;
	background-color: #f1f3f4;
	padding: 25px;
	
}


#education-wrapper {
	display: flex;
	margin-bottom: 50px;
}

#education-wrapper > section {
	width: 25%;
}

.cv-section-five {
	border-bottom: 1px solId black;
	background-color: #f1f3f4;
	padding: 25px;
}

#skills-wrapper {
	display: flex;
	margin-bottom: 50px;
	font-size: 150px;
	justify-content: space-evenly;

}

.cv-section-six {
	border-bottom: 1px solid black;
	background-color: #f1f3f4;
}

.cv-section-seven {
	margin-bottom: 50px;
	background-color: #f1f3f4;
}