/* GOOGLE FONT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');


/* CSS STYLESHEET FOR INDEX.HTML */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'DM Sans', sans-serif;

}

body {
	background-color: #34568B;
}

#cv-wrapper {
	width: 60%;
	margin: 0 auto;
	padding: 30px;
}

header {
	display: flex;
	border: 2px solid white;
	background-color: #35a79c;
	color: white;
	

}

.cv-section-one {
	width: 50%;
	padding: 25px;
	
}

.cv-section-one > h1 {
	font-size: 45px;
	
}


.cv-section-two {
	width: 50%;
	background-color: #35a79c;
	
	padding: 5px;
	
}

#icon-wrap {
	width: 60%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	text-align: left;
	
}

#icon-wrap > span {
	padding: 1px;

}

#icon-wrap > span > a {
	text-decoration: none;
	color: white;
}

.fa-home, .fa-globe, .fa-envelope, .fa-linkedin {
	padding: 8px;
	font-size: 22px;
}

.page-breaker {
	width: 100%;
	text-align: center;
}

.fa-angle-down {
	padding: 8px;
	font-size: 30px;
	
}

.cv-section-three {
	border-bottom: 5px solid #35a79c;
	background-color: #f1f3f4;
	padding: 25px;
}

.cv-section-three > h2 {
	padding: 5px;
}

.cv-section-three > p {
	margin-bottom: 50px;
	padding: 5px;
}

.role {
	color: #35a79c;
	font-weight: bold;
	
}

#work-wrapper {
	display: flex;
	margin-bottom: 50px;

}

#work-wrapper > section {
	width: 50%;
	padding: 5px;

}

.cv-section-four {
	border-bottom: 5px solid #35a79c;
	background-color: #f1f3f4;
	padding: 25px;
	
}

.cv-section-four > h2 {
	padding-bottom: 10px;
}


#education-wrapper {
	display: flex;
	margin-bottom: 50px;
}

#education-wrapper > section {
	width: 25%;
	padding: 5px;
}

.cv-section-five {
	border-bottom: 5px solid #35a79c;
	background-color: #f1f3f4;
	padding: 25px;
}

.cv-section-five > h2 {
	padding: 5px;
}

#skills-wrapper {
	display: flex;
	margin-bottom: 50px;
	font-size: 125px;
	justify-content: space-evenly;
	color: #35a79c

}

.cv-section-six {
	border-bottom: 5px solid #35a79c;
	background-color: #f1f3f4;
	padding: 25px;
	
}

.cv-section-six > h2 {
	padding: 10px;
}

.cv-section-seven {
	margin-bottom: 50px;
	background-color: #f1f3f4;
	padding: 25px;
	border-bottom: 5px solid #35a79c;
}

.page-breaker {
	color: white;
}

.cv-section-seven > h2 {
	padding: 5px;
}

#button-wrap {
	width: 100%;
	text-align: center;
}

button {
	padding: 20px;
	border-radius: 25px;
	background-color: white;
	border: 2px solid #35a79c;
	
	
	
}

button:hover {
	background-color: #34568B;
	color: white;
	border-color: white;
	transition: 0.2s;
	cursor: pointer;
}

button > a {
	text-decoration: none;
	font-weight: 600;
	color: #34568B;
}

button > a:hover {
	color: white;
	transition: 0.2s;
	cursor: pointer;

}

@media only screen and (max-width: 400px) {
	
  }